<div class="bg-white border-r border-gray-200 h-screen transition-all duration-300 w-64">
  <nav class="mt-10">
    <ul>
      <li class="mb-4">
        <button
          routerLink="/diary"
          class="w-full flex items-center gap-3 p-2 text-gray-600 hover:bg-gray-200 rounded-md"
        >
          <ng-icon name="heroBookOpenSolid" class="w-6 h-6"></ng-icon>
          <span class="text-sm">Diary</span>
        </button>
      </li>
      <li class="mb-4">
        <button
          routerLink="/notes"
          class="w-full flex items-center gap-3 p-2 text-gray-600 hover:bg-gray-200 rounded-md"
        >
          <ng-icon name="heroClipboardDocumentListSolid" class="w-6 h-6"></ng-icon>
          <span class="text-sm">Notes</span>
        </button>
      </li>
      <li class="mb-4">
        <button
          routerLink="/todo"
          class="w-full flex items-center gap-3 p-2 text-gray-600 hover:bg-gray-200 rounded-md"
        >
          <ng-icon name="heroClipboardDocumentListSolid" class="w-6 h-6"></ng-icon>
          <span class="text-sm">To Do</span>
        </button>
      </li>
      <li class="mb-4">
        <button
          routerLink="/finance"
          class="w-full flex items-center gap-3 p-2 text-gray-600 hover:bg-gray-200 rounded-md"
        >
          <ng-icon name="heroCurrencyDollarSolid" class="w-6 h-6"></ng-icon>
          <span class="text-sm">Finance</span>
        </button>
      </li>
      <!-- Uncomment if you include the AI Assistant feature
      <li class="mb-4">
        <button
          routerLink="/ai-assistant"
          class="w-full flex items-center gap-3 p-2 text-gray-600 hover:bg-gray-200 rounded-md"
        >
          <ng-icon name="heroChatBubbleLeftRightSolid" class="w-6 h-6"></ng-icon>
          <span class="text-sm">AI Assistant</span>
        </button>
      </li>
      -->
      <li class="mb-4">
        <button
          routerLink="/settings"
          class="w-full flex items-center gap-3 p-2 text-gray-600 hover:bg-gray-200 rounded-md"
        >
          <ng-icon name="heroCog6ToothSolid" class="w-6 h-6"></ng-icon>
          <span class="text-sm">Settings</span>
        </button>
      </li>
    </ul>
  </nav>
</div>
